@import "keys";
@import "mixins";
@import "config";
@import "xbox";
// Main Components
h1,
h2 {
    font-family: "Fira Sans";
    color: $color-primary;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
}
body {
    font-family: "Roboto";
     color: $color-primary;
}
#header {
    text-align: center;
}
#row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
#left-side {
    padding:20px;
    order: 1;
    flex-basis: 100%;
    display: none;
}
#right-side {
    padding:20px;
    order: 2;
    flex-basis: 100%;
    display: none;
}
#gameHost {
    padding:20px;
    order: 3;
    flex-basis: 100%;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    #row {
        flex-wrap: nowrap;
    }
    #left-side {
        flex-basis: 50%;
        order: 1;
        display: block;
    }
    #gameHost {
        flex-basis: 1;
        flex-basis: 100%;
        order: 2;
    }
    #right-side {
        flex-basis: 50%;
        order: 3;
        display: block;
    }
}
#footer p {
    text-align: center;
    color: #888;
}
#footer a {
    text-decoration: underline;
    color: #f88;
}